# Node.js dependencies
D:\development\backend\node_modules
D:\development\node_modules
D:\development\Data_engineering\node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
D:\development\backend\.env

# Build output for React (frontend)
build/
dist/

# Dependency directories for frontend (if using package manager other than npm)
frontend/node_modules/

# VSCode settings
.vscode/

# Operating system files
.DS_Store  # macOS-specific
Thumbs.db  # Windows-specific

# Logs and other temporary files
*.log

